# common for project
*~
*.[ao]
TAGS

# built executable
src/PGFem3D

# any user-made install dirs
install/

# autotools stuff
Makefile.in
Makefile
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
stamp-h1
.deps
include/config.h*
/config.status
/config.log