# common for project
*~
*.[ao]
TAGS
untracked/

# built executable
src/PGFem3D
src/*driver

# any user-made install dirs
install/

# autotools stuff
ar-lib
test-driver
Makefile.in
Makefile
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
stamp-h1
.deps
include/config.h*
/config.status
/config.log

# other
src/bpa.dat
